body{
    padding: 100px;
    background-image: url(img/bank.jpg);
}
h1{
    color: white;
}
.bank-title{
    text-align: center;
}
.submit-area{
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    background-image: linear-gradient(to left, rgb(248, 180, 180), rgb(176, 204, 198) );
    padding: 40px;
    color: white;
}
#transaction-area{
    display: none;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.deposit, .withdraw , .balance{
    margin: 0px 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;

}